<div class="container mx-auto p-4 space-y-6 bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100">
  <app-nav-bar></app-nav-bar>
  <app-filter-bar (filterChange)="onFilterChange($event)"></app-filter-bar>
  <div class="flex flex-row gap-4 w-full">
    <app-line-chart [transactions]="filteredData" class="flex-1"></app-line-chart>
    <app-pie-chart [transactions]="filteredData" class="w-[350px]"></app-pie-chart>
  </div>
  <app-transaction-table [transactions]="filteredData"></app-transaction-table>
  <router-outlet></router-outlet>
</div>